<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebApp0616</display-name>
	<!-- 서블릿 클래스는 브라우저에서 직접 명시가 불가하기 때문에 서블릿 매핑해야 함 -->
	<servlet>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>com.dev.TestServlet</servlet-class>
		<!-- 서블릿이 초기화될때 넘겨줄 각종 파라미터 설정 -->
		<init-param>
			<param-name>babo</param-name>
			<param-value>앙</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.dev.member.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
</web-app>